In [1]:
import sqlite3

In [2]:
conn =sqlite3.connect("sms.db")

In [3]:
cur=conn.cursor()

In [4]:
cur.execute('''
            CREATE TABLE STUDENT(
            SID INT,
            SNAME CHAR(40),
            EMAIL VARCHAR(60),
            CITY CHAR(40)
            )
''')
conn.commit

In [5]:
cur.execute('''
            CREATE TABLE COURSE(
            CID INT,
            SID INT,
            COURSENAME VARCHAR(60),
            PRICE INT
            )
''')
conn.commit

In [6]:
cur.execute('''
            CREATE TABLE TRANS(
            TID INT,
            SID INT,
            CID INT,
            METHOD VARCHAR(40)
            )
''')
conn.commit